/* CSS Reset */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

/*Font-Family*/

@font-face{
  font-family: 'Bogle Black';
  src: url(./Fonts/BOGLEBLACK.OTF);
}

@font-face {
  font-family: 'Bogle Regular';
  src: url(./Fonts/BOGLEREGULAR.OTF);
}

@font-face {
  font-family: 'Bogle Bold';
  src: url(./Fonts/BOGLEBOLD.OTF);
}

/*CSS Variables*/

:root{

  /*Colors*/

  --Primary-color: #0071ce;
  --secondry-color:#ffc220;
  --footer-color:#004F9A;
  --pure-white:#fff;
  --pure-black:#000;
  --hover-blue: #004F9A;
  --dark-blue:#041e42;
  --green:#2A8703;
  --light-blue:#E6F1FC;
  --light-grey: #74767cbb;

  /*Padding*/
}
